/********** Template CSS **********/
:root {
  --primary: #fea116;
  --light: #f1f8ff;
  --dark: #0f172b;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semi-bold {
  font-weight: 600 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-text {
  margin-bottom: 10vh;
}

.carousel-item img {
  height: 90vh;
}

.bg-col {
  background-color: rgb(38, 38, 70);
}

.standard-heading {
  width: 80%;
  margin: auto;
  padding: 3rem 1rem;
  border-radius: 20px;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.standard-heading h1 {
  padding-bottom: 15px;
  font-family: Poppins;
  font-size: 2rem;
  color: #0f172b;
}

.standard-heading p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.standard-heading button {
  padding: 15px 55px;
  background-color: #fea116;
  border: none;
  border-radius: 5px;
}

.standard-heading button a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.detail-container {
  height: 80vh;
  background-image: url(/img/bgg.png);
}

.dbg {
  background-color: #eeeeee86;
}

.dbg img {
  width: 100%;
}

.img1 {
  width: 100vw !important;
  height: 30vh !important;
}

.img2 {
  width: 70vw !important;
  height: 30vh;
}

.img3 {
  width: 40vw !important;
  margin-top: 12.5vh;
}

.img4 {
  width: 15vw !important;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .detail-img img {
    height: 30vh;
    width: 80svw;
  }
}

.page-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

.booking {
  position: relative;
  margin-top: -100px !important;
  z-index: 1;
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

.tj {
  text-align: justify;
}

.bdn {
  border: none;
}

.vm button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: #f1f8ff;
  background-color: #fea116;
}

/*** Service ***/
.service-item {
  position: relative;
  height: 60vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.f-service-item {
  height: 40vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.service-item:hover {
  background: var(--primary);
}

.f-service-item:hover {
  background: var(--primary);
}

.service-item .service-icon {
  position: absolute;
  left: 10vw;
  top: 5vh;
  width: 65px;
  height: 65px;
  transition: 0.5s;
}

.service-item i,
.service-item h5,
.service-item p {
  transition: 0.5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
  color: #ffffff !important;
}

/*** Youtube Video ***/
.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, 0.1), rgba(15, 23, 43, 0.1)),
    url(../img/slide3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: relative;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.services {
  margin-bottom: 3rem;
}

.booking-card {
  width: 100%;
  margin-top: 2rem;
  padding: 5rem;
}

.booking-card button {
  border: none;
}

.booking-btn {
  display: grid;
  margin: auto;
}

.detail {
  margin-right: 5rem;
}

.gridd {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  justify-content: space-evenly;
}

.detail-logo {
  display: grid;
  margin: auto;
  margin-bottom: 5rem;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-wap {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.details-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.dw {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.dw p {
  font-size: 1rem;
  font-weight: 400;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroSwiper {
  height: 100vh;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  /* width: 100%; */
  /* height: 100%; */
  /* border: 5px solid; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100vw;
  /* display: flex; */
  /* justify-content: center; */
  margin: 0 !important;
  padding: 0 !important;
  /* align-items: center;
  background: salmon; */
}

/* .swiper-slide img {
  display: block;
  width: 50%;
  height: 100%;
  object-fit: cover;
} */
/* 
.swiper-wrapper {
  width: 100vw;
} */

.z-index {
  z-index: 999;
}

.hero-text {
  position: relative;
  top: -70vh;
  left: 40vw;
}

.more-container {
  display: flex;
  justify-content: center;
}

.more {
  display: flex;
  align-items: center;
}

.more img {
  border-radius: 5px;
  width: 30vw;
}

.more-text h3,
.more-text p {
  width: 80%;
  text-align: justify;
}

@media only screen and (max-width: 800px) {
  .service-item {
    height: 90vh;
  }

  .service-item .service-icon {
    left: 35vw;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridd {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }

  .dw {
    width: 100%;
    margin: auto;
  }

  .details-card {
    width: 100%;
    margin: auto;
  }

  .booking-card {
    width: 100%;
    margin: auto;
  }

  .hero-text {
    display: none;
  }

  .heroSwiper {
    height: 50vh;
  }

  .more-container {
    display: grid;
    width: 100vw;
  }

  .more {
    display: grid;
  }

  .more img {
    height: 30vh;
    width: 90vw !important;
  }

  .more-text h3,
  .more-text p {
    width: 90vw;
    display: grid;
    margin: auto;
  }

  .detail {
    align-items: center;
    width: 100%;
  }
}

.dww {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
